main {
	/* height: 100%; */
	width: 100%;
	/* display: block; */
	padding: 1rem;
	gap: 1rem;
}

h1 {
	color: black;
	display: block;
}

#meet-the-team {
	display: block;
	width: 100%;
	gap: 1rem;
}


@media (min-width: 900px) {
	main {
		display: block;
		height: 100%;
	}

	section {
		gap: 0;
	}
}