main {
	align-items: start;
}

h1 {
	color: black;
	display: block;
}

.lab-section {
	padding: 1rem;
}

gmp-map {
  width: 100%;
  height: 400px;
  top: 0;
  flex: none;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--crimson-red);
  /* overflow: hidden; */
}

strong {
	color: var(--crimson-red);
	font-weight: bold;
	pointer-events: none;
}

#lab-list > li > text {
	pointer-events: none;
}

#lab-list section {
	max-height: 0;
	padding: 0;
	margin: 0;
	transition: all 0.5s ease-in-out;
	display: flex;
	gap: 2rem;
}

#lab-list section.active {
}

ul {
	list-style-type: none;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

li {
	display: flex;
	align-items: center;
}

.caret {
	width: 25px;
	rotate: -90deg;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}

.caret.active {
	rotate: 0deg;
}

.guides ul {
	gap: 0;
}

/* lab images */
.lab-images {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.lab-image {
	width: 100%;
	height: auto;
	border-radius: 12px;
	border: 1px solid var(--crimson-red);
}

@media (min-width: 600px) {
	.lab-section {
		padding: 2rem;
		margin: auto;	
	}
	.guides {
		margin: auto;
	}

	.lab-images {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	.lab-images:nth-child(1) {
		background-color: red;
		grid-row: 1 / span 2;
	}

}