/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********************
 * Custom CSS
 **********************/

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

h4 {
  font-size: 0.75rem;
  font-weight: bold;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.fine-print {
  font-weight: lighter;
  font-size: 0.75rem;
  color: white;
}

/**********************
 * Generic buttons
 **********************/

.main-button {
  background-color: #a60f2d;
  border-radius: 4px;
  color: white;
  width: min-content;
  text-wrap: nowrap;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.75rem;
}

/**********************
 * Header
 **********************/

header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Logo */

#logo {
  width: 50px;
  height: 50px;
  background-image: url(../images/logo-150x150.png);
  background-size: contain;
}

/**********************
 * Nav
 **********************/

nav {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#nav-hamburger {
}

/* animations for overlay */

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes slide-out {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 0;
  }
}

/* Mobile Nav */
#mobile-nav {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: white;
  display: flex;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

#mobile-nav > ul {
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#mobile-nav.active {
  right: 0;
}

/*** Mobile Nav: Overlay */
#nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 3;
  opacity: 0.5;
  animation: slide-in 0.5s ease-in-out;
}

/* When user exits mobile nav, slide out the overlay */
#nav-overlay.slide-out {
  animation: slide-out 0.5s ease-in-out;
}

/* mobile nav links */
#nav-overlay > ul {
}

/* Hamburger */

#hamburger {
  width: 40px;
  height: 40px;
  visibility: hidden;
}

#hamburger.active {
  visibility: visible;
}

#exit-icon {
  width: 50px;
  height: 50px;
  right: 0.5rem;
  top: 0.5rem;
  visibility: hidden;
}

#exit-icon.active {
  visibility: visible;
}

.nav-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  z-index: 5;
}

/**********************
 * Body
 **********************/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  /* padding-top: 50px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/**********************
 * Main
 **********************/
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/**********************
 * Hero
 **********************/

#hero {
  width: 100%;
  height: 200px;
  background-image: url(../images/wsupattern-bg_3.png);
  display: flex;
}

#hero > h1 {
  display: flex;
  width: 100%;
  height: 200px;
}

#banner {
  width: 200px;
  margin: auto;
}

/* Quick Links */
#quick-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#quick-links > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

#quick-links > ul > li {
  border: 2px solid #4d4d4d;
  width: 100%;
  border-radius: 4px;
  padding: 0.75rem;
  text-align: center;
}

#quick-links > ul > li:nth-child(1) {
  border: 2px solid #a60f2d;
  color: #a60f2d;
}

.padding {
  padding: 2rem;
}

.bold {
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Welcome */

/* Welcome quote */

#welcome-quote {
  width: 100%;
  font-size: 1.5rem;
  padding: 3rem;
  gap: 1rem;
}

#welcome-quote > p {
  font-weight: bold;
}

#welcome-quote > span {
  margin-left: auto;
  font-weight: lighter;
}

/**********************
 * Services
 **********************/
#services {
  position: relative;
  gap: 1rem;
}

#services > h2,
#services > p,
#services > ul {
  position: relative;
  z-index: 2;
}

#services > ul {
  font-weight: bold;
}

/**********************
 * Swiper
 **********************/

#tutorials {
  overflow: hidden;
}

.swiper {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  border: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.video-slide {
  position: relative;
  aspect-ratio: 16 / 9;
  container-type: size;

  &:after {
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 14cqh);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      44% 100%,
      44% 49%,
      56% 49%,
      56% 67%,
      0% 67%,
      0% 100%,
      100% 100%,
      100% 0%
    );
  }
}

.swiper-pagination {
  position: relative;
}

#s-p2,
#s-p1 {
  position: relative;
  margin-top: 1rem;
}

#tutorials > h2,
#meet-the-team > h2 {
  padding-left: 2rem;
}

/**********************
 * Meet the Team
 **********************/

.swiper-slide > .profile-pic {
  margin: auto;
  width: 80%;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.team-slide {
  height: 400px;
  border: 1px solid black;
  padding: 1rem;
}

.team-text-content {
  padding: 1rem;
}

.team-labels {
  margin: 0.5rem 0 1rem 0;
}

/**********************
 * Footer
 **********************/

footer {
  background-image: url(../images/wsupattern-bg_3.png);
  height: 300px;
  padding: 1rem;
  color: white;
  gap: 2rem;
}

footer > h3 {
  font-weight: bold;
}

footer > div {
  justify-content: space-between;
}

.footer-socials-container {
  align-items: center;
  gap: 0.5rem;
}

.footer-socials-container > div > a {
  text-decoration: none;
  color: white;
}

.social-icon {
  width: 50px;
}

.copyright {
  font-size: 0.6rem;
  text-align: center;
  font-weight: lighter;
}

/**********************
 * Media Queries
 **********************/

@media (min-width: 600px) {
  /* quick links */
  #quick-links > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #quick-links > ul > li:nth-child(1) {
    grid-column: 1 / span 2;
  }

  /* welcome section */

  #welcome {
    width: 500px;
    margin: auto;
  }

  #welcome-quote {
	width: 500px;
	margin: auto;
  }

  /* Appointments */
  #appointments > a,
  #helpdesk > a {
    margin-left: auto;
  }

  /* Swiper */
  .swiper-slide {
    width: 350px;
    height: 350px;
  }

  .team-slide {
    height: 500px;
  }

  /* Services  */
  #services {
    background: url(../images/paralyzed-asian-employee-working-at-call-center-re-2025-02-17-05-00-47-utc.jpg);
    background-size: cover;
  }

  #services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgb(255, 255, 255) 25%,
      rgba(0, 0, 0, 0)
    ); /* semi-transparent black gradient */
    pointer-events: none; /* so it doesn’t block clicks */
    z-index: 1;
  }
}


/* Larger Screens */
@media screen and (min-width: 900px) {
  /* html */
  html {
    overflow: visible;
  }

  /* Main */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Hero */
  #hero {
    grid-column: 1 / span 4;
  }

  /* Welcome */
  #welcome {
    grid-column: 1 / span 4;
	margin: 10rem auto;
  }

  #welcome-quote {
    grid-column: 1 / span 4;
	width: 700px;
	margin: 5rem auto;
  }

  /* Quick Links */
  #quick-links {
    grid-column: 1 / span 4;
  }

  /* Services */
  #services {
    margin: auto;
    grid-column: 2 / 4;
    background-position-x: center;
  }

  #services::before {
    border-radius: 12px;
  }

  /* Helpdesk */
  #helpdesk {
    grid-column: 2 / 4;
    grid-row: 6;
  }

  #helpdesk > a {
	margin-top: auto;
  }

  /* Appointments */
  #appointments {
    grid-column: 2 / 4;
  }

  /* Tutorials */
  #tutorials {
    grid-column: 2 / 4;
    /* overflow: hidden; */
  }



  /* Meet the Team */
  #meet-the-team {
    grid-column: 2 / 4;
	margin-bottom: 2rem;
  }

  /* Bento styles */
  .bento-box {
    border: 1px solid black;
    border-radius: 12px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 1rem;
	position: relative;
  }

  .mySwiper {
    width: 100%;
    height: 100%;
    /* padding: 0; */
    /* margin: 0; */
  }

  .mySwiper > .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

  .swiper-slide {
    /* width: 80%;
	height: 80%; */
  }

  .video-slide {
    /* width: 100;
	height: 100%; */
  }
}

@media (min-width: 1500px) {
	#helpdesk {
		grid-column: 2 / 3;
	}

	#appointments {
		grid-column: 3 / 4;
	}
}